/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sen:wght@400..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Effects*/
@keyframes typing {
from { width: 0 }
to { width: 100% }
}


/* Base Style */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Sen, sans-serif;
}


/* Header Section  */
header {
padding: 4rem;
}

h1 {
    overflow: hidden;
    color: #0b1e2e;
    border-bottom: auto solid rgb(62, 105, 161);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.2rem;
    font-family: Sen, sans-serif;
    font-weight: 700;
    font-size: 7rem;
    text-align: center;
    padding: 1rem 0 0 0;
    animation: 
    typing 10s steps(500, end),
    blink-caret 0.5s step-end infinite;
}


header p {
color:#0b1e2e;
text-align: center;
font-weight: 400;
}

/* Body Section */
html {
background-color: rgba(236, 242, 255, 0.5);
height: 100%;
}

body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

main {
    display: flex;
    justify-content: center;
    align-content: center;
    min-width: 100%;
    min-height: 100%;
}

#bgVideo {
    position: fixed;
    background: cover;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.1;
    overflow: hidden;
}

/* Login Form */
#login{
    text-align: center;
    padding: 0 5rem 0;
    background-color: #BECEDA;
    border-radius:  7px;
    box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    margin-top: auto;
    opacity: 1;
    transform: translateY(0);
}

#login form {
padding: 2rem;
border-bottom:  1px solid rgb(62, 105, 161);
}

#login h2{ 
color: hsl(0, 0%, 100%);
text-decoration: underline hsla(0, 0%, 100%, 0.3);
margin: 2rem;
font-size: 3rem;
}

#login label { 
font-size: 1.2rem;
padding: 0.5rem;
color: #274054;
}

#login input{
border-radius: 5px;
font-size: 1rem;
padding: 0.5rem;   
border: #BECEDA; 
}

#login input:focus,
#signup input:focus {   
border: rgb(44, 62, 80); 
}

#login div,
#signup div {
padding: 10px;
}

#login button,
#signup button {
font-size: 1.25rem;
font-weight: 700;
padding: 10px;
background-color: rgba(0, 0, 0, 0.25);
color: white;
border: none;
border-radius: 2rem;
transition: transform 0.75s ease,
        background-color 1s ease;
cursor: pointer;
margin: 1rem;
}

#login button:hover,
#signup button:hover {
transform: scale(1.05);
background-color: rgba(0, 0, 0, 0.6);
}

#login p,
#signup p {
color: #1f4c71;
font-weight: 200;
padding: 1rem;

}

#login a,
#signup a {
color: #47a3bd;
font-weight: 200;
}



/* Sign Up Section */
#signup {
text-align: center;
padding: 0 5rem 0;
background-color: #BECEDA;
border-radius:  7px;
box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.25);
display: flex;
flex-direction: column;
transform: translateY(20px);  
transition: opacity 0.3s ease, transform 0.3s ease;
display: none;
align-self: center;
}

#signup form {
padding: 1rem;
border-bottom:  1px solid rgb(62, 105, 161);
}

#signup h2{ 
color: hsl(0, 0%, 100%);
text-decoration: underline hsla(0, 0%, 100%, 0.3);
margin: 2rem 0 0;
font-size: 3rem;
}

#signup label { 
font-size: 1.2rem;
padding: 0.5rem;
color: #274054;
}

#signup input{
border-radius: 5px;
font-size: 1rem;
padding: 0.5rem;   
border: #BECEDA; 
}

#signup button {
padding: 10px;
margin: 0;
}


/* Footer Section */
footer {
margin-top: auto;
bottom: 0;
}

footer p{
color: rgb(44, 62, 80);
bottom: 0;
margin-top: 4rem;
position: sticky; 
text-align: center; 
}



/* Media Queries */
@media screen and (max-width: 1024px) {
h1 {
font-size: 5rem;
}

#login {
padding: 0 3rem;
}

#login form {
padding: 1.5rem;
}

#login h2 {
font-size: 2.5rem;
}

#login label {
font-size: 1rem;
}

#login input {
font-size: 0.9rem;
}

#login button {
font-size: 1rem;
}

footer p {
margin-top: 4rem;
}
}


@media screen and (max-width: 768px) {
header {
padding: 3rem 2rem;
}

h1 {
font-size: 4rem;
letter-spacing: 0.1rem;
}

#login,
#signup {
padding: 2rem;
}

#login form,
#signup form{
padding: 0.5rem;
}

#login h2,
#signup h2 {
font-size: 2rem;
}

#login label,
#signup label {
font-size: 1rem;
}

#login input,
#signup input {
font-size: 0.9rem;
padding: 0.5rem;
}

#login button,
#signup button {
font-size: 1rem;
padding: 8px;
}

footer p {
margin-top: 2rem;
}
}


@media screen and (max-width: 480px) {
h1 {
font-size: 3rem;
letter-spacing: 0.05rem;
}

#login,
#signup {
margin-top: 3rem;
padding: 1.5rem 0.2rem;
}

#login h2,
#signup h2 {
font-size: 1.8rem;
}

#login label,
#signup label {
font-size: 1rem;
}

#login input,
#signup input {
font-size: 0.9rem;
padding: 0.5rem;
}

#login button,
#signup button {
font-size: 0.9rem;
padding: 8px;
}

footer p {
font-size: 1rem;
margin-top: 1rem;
}
}